<div class="container" style="padding-top: 225px; ">

  <h3 class="text-center">Contactez nous</h3><br />
  
  <div class="row">
    <div class="col-md-6">
        <form action="/post" method="post">
          <input class="form-control" name="name" placeholder="Name..." /><br />
          <input class="form-control" name="phone" placeholder="Phone..." /><br />
          <input class="form-control" name="email" placeholder="E-mail..." /><br />
          <textarea class="form-control" name="text" placeholder="How can we help you?" style="height:150px;"></textarea><br />
          <input class="btn btn-primary" type="submit" value="Send" /><br /><br />
        </form>
    </div>
    <div class="col-md-3">
      <b>Customer service:</b> <br />
      Phone: +1 129 209 291<br />
      E-mail: <a href="mailto:support@mysite.com">support@mysite.com</a><br />
      <br /><br />
      <b>Headquarter:</b><br />
      Company Inc, <br />
      Las vegas street 201<br />
      55001 Nevada, USA<br />
      Phone: +1 145 000 101<br />
      <a href="mailto:usa@mysite.com">usa@mysite.com</a><br />
  
  
      <br /><br />
      <b>Hong kong:</b><br />
      Company HK Litd, <br />
      25/F.168 Queen<br />
      Wan Chai District, Hong Kong<br />
      Phone: +852 129 209 291<br />
      <a href="mailto:hk@mysite.com">hk@mysite.com</a><br />
  
  
    </div>
    <div class="col-md-3">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2612.59932302407!2d6.228279514909878!3d49.0942538793113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4794ddbfb8778ac7%3A0x7d36b8f07fd4f889!2sISFATES!5e0!3m2!1sde!2sfr!4v1578619715507!5m2!1sde!2sfr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
  </div>
  
</div>
  