<!--Main layout-->
<main class="pt-4">
  <div class="container-fluid" style= "padding-top: 225px; padding-left: 30px; padding-right: 30px; color:black; background-color: gray;"
    
  >
    <!--Section: Jumbotron-->
    <section class="card gray-background">
      <div class="card-body red-text">
        <div class="row">
          <div class="col m-1">
            <div class="card p-2 text-center d-flex justify-content-center">
              <div class="view hm-white-slight waves-light align-self-center" mdbWavesEffect>
                <img src="../../assets/asia.svg" class="img-fluid" alt="asia">
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Asie</h4>
                <a class="btn btn-primary waves-light" [routerLink]="['/region','asia']" mdbWavesEffect>plus dinfos</a>
              </div>
            </div>
          </div>
          <!-- card 2 -->
          <div class="col m-1">
            <div class="card p-2 text-center d-flex justify-content-center">
              <div class="view hm-white-slight waves-light align-self-center" mdbWavesEffect>
                <img src="../../assets/america.svg" class="img-fluid" alt="asia">
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Amerique</h4>
                <a class="btn btn-primary waves-light" [routerLink]="['/region','americas']" mdbWavesEffect>plus dinfos</a>
              </div>
            </div>
          </div>
          <!-- card3 -->
          <div class="col m-1">
            <div class="card p-2 text-center d-flex justify-content-center">
              <div class="view hm-white-slight waves-light align-self-center" mdbWavesEffect>
                <img src="../../assets/africa.svg" class="img-fluid" alt="asia">
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Afrique</h4>
                <a class="btn btn-primary waves-light" [routerLink]="['/region','africa']" mdbWavesEffect>plus dinfos</a>
              </div>
            </div>
          </div>
          <!-- card 4 -->
          <div class="col m-1">
            <div class="card p-2 text-center d-flex justify-content-center">
              <div class="view hm-white-slight waves-light align-self-center" mdbWavesEffect>
                <img src="../../assets/europe.svg" class="img-fluid" alt="asia">
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Europe</h4>
                <a class="btn btn-primary waves-light" [routerLink]="['/region','europe']" mdbWavesEffect>plus dinfos</a>
              </div>
            </div>
          </div>
          <!-- card 5 -->
          <div class="col m-1">
            <div class="card p-2 text-center d-flex justify-content-center">
              <div class="view hm-white-slight waves-light align-self-center" mdbWavesEffect>
                <img src="../../assets/australian-continent.svg" class="img-fluid" alt="asia">
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Oceanie</h4>
                <a class="btn btn-primary waves-light" [routerLink]="['/region','oceania']" mdbWavesEffect>plus dinfos</a>
              </div>
            </div>
          </div>
          <!-- card end -->
        </div>
      </div>
    </section>

  </div>
</main>
<!--Main layout-->